$navy:                  #283645;
$light-navy:            #485461;
$dark-navy:             #1d2631;
$lightest-grey:         #e9ebec;
$light-grey:            #e5e5e5;
$lighten-grey:          #dfdfdf;
$grey:                  #f2f2f2;
$dark-grey:             #bec2c7;
$light-black:           #2a2a2a;
$pink:                  #d22856;
$green:                 #3dc644;
$dark-green:            #2aab6d;
$darken-green:          #1c9b5e;
$orange:                #f25b26;

$base-font-family:      "Open Sans", verdana, sans-serif;
$base-font-size:        14px;
$secondary-font-size:   18px;
$third-font-size:       24px;
$fourth-font-size:      40px;
$fifth-font-size:       30px;
$sixth-font-size:       20px;
$seventh-font-size:     50px;
$eighth-font-size:      12px;
$ninth-font-size:       16px;
$tenth-font-size:       21px;

$base-line-height:      24px;
$secondary-line-height: 18px;
$third-line-height:     30px;
$fourth-line-height:    48px;
$fifth-line-height:     36px;
$sixth-line-height:     60px;
$seventh-line-height:   28px;
$eighth-line-height:    40px;

$black-gradient:        repeating-linear-gradient(to right, black 0, black 3px, $light-black 3px, $light-black 6px);
