$navy:                #283645;
$light-navy:          #485461;
$dark-navy:           #1d2631;
$lightest-grey:       #e9ebec;
$light-grey:          #e5e5e5;
$lighten-grey:        #dfdfdf;
$grey:                #f2f2f2;
$dark-grey:           #bec2c7;
$light-black:         #2a2a2a;
$pink:                #d22856;
$green:               #3dc644;
$dark-green:          #2aab6d;
$orange:              #f25b26;

$base-font-family:    "Open Sans", verdana, sans-serif;
$base-font-size:      14px;
$bigger-font-size:    18px;
$biggest-font-size:   24px;
$base-line-height:    24px;
$smaller-line-height: 18px;
$biggest-line-height: 30px;

$black-gradient:      repeating-linear-gradient(to right, black 0, black 3px, $light-black 3px, $light-black 6px);
