.container {
  display: flex;
  width: 87.5%;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: 660px) {
    width: 94%;
  }

  @media (min-width: 768px) {
    width: 100%;
    max-width: 960px;
    padding: 0 1%;
  }
}

.container--column {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container--padding {
  width: 100%;
  padding: 50px 6.25%;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 48px 6.25%;
  }
}
