.third-title {
  margin: 18px 0;

  font-size: $secondary-font-size;
  line-height: $base-line-height;
  font-weight: bold;
  color: black;
  text-align: center;

  @media (min-width: 660px) {
    font-size: $fifth-font-size;
    line-height: $eighth-line-height;
  }
}
