.copyright-link {
  display: flex;
  align-items: center;

  line-height: $secondary-line-height;
  color: $navy;
  text-decoration: none;
}

.copyright-link__img {
  height: 34px;
  margin-left: 25px;

  fill: $pink;

  &:hover {
    fill: $navy;
  }

  &:active {
    fill: $navy;
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    margin-left: 15px;
  }
}
