.download {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 85%;
  margin-bottom: 25px;

  @media (min-width: 660px) {
    width: 80%;
    margin-bottom: 36px;
  }

  @media (min-width: 768px) {
    width: 26%;
    max-width: 250px;
    margin-right: auto;
    margin-left: 3%;
    margin-bottom: 56px;
  }
}

.download__link {
  @include text-indent;

  display: inline-block;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.download__link--ios {
  width: 47px;
  height: 57px;
  background-image: url("../img/logo-apple.svg");

  @media (min-width: 660px) {
    width: 46px;
  }
}

.download__link--android {
  width: 43px;
  height: 48px;
  background-image: url("../img/logo-android.svg");
}

.download__link--windows {
  width: 44px;
  height: 44px;
  background-image: url("../img/logo-microsoft.svg");

  @media (min-width: 660px) {
    width: 46px;
    height: 46px;
  }
}
