.editor {
  padding-top: 20px;
  padding-bottom: 43px;

  @media (min-width: 660px) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;

    background-color: white;
  }
}

.editor__form {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding-top: 55px;
    padding-bottom: 58px;

    background-color: $grey;
  }
}

.editor__container {
  position: relative;

  @media (min-width: 660px) {
    flex-direction: row;
    justify-content: flex-end;
  }

  @media (min-width: 768px) {
    width: 100%;
    padding-right: 6.25%;
  }
}

.editor__img {
  display: block;
  margin-bottom: 28px;
  width: 280px;
  height: 374px;

  @media (min-width: 660px) {
    position: absolute;
    top: 0;
    left: 0;

    width: 300px;
    height: 402px;
    margin-bottom: 40px;
  }

  @media (min-width: 768px) {
    left: 8.5%;
  }
}

.editor__controls-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 87%;
  max-width: 366px;
  margin-bottom: 34px;

  @media (min-width: 660px) {
    order: 2;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 48.5%;
    max-width: none;
    margin-bottom: 0;
    padding-left: 4%;
    box-sizing: border-box;
  }

  @media (min-width: 768px) {
    width: 47.5%;
    max-width: 410px;
    padding-left: 0;
  }
}

.editor__control {
  display: none;
}

.editor__lable {
  fill: $navy;
  opacity: 0.3;

  &:hover {
    opacity: 0.5;
  }

  @media (min-width: 660px) {
    width: 20%;

    fill: $pink;
    opacity: 1;
  }

  @media (min-width: 768px) {
    width: 22%;
  }
}

.editor__lable--crop {
  @media (min-width: 660px) {
    order: 1;
  }
}

.editor__lable--fill {
  @media (min-width: 660px) {
    order: 3;
  }
}

.editor__lable--contrast {
  @media (min-width: 660px) {
    order: 5;
  }
}

.editor__control--crop:checked ~ .editor__controls-wrapper .editor__lable--crop,
.editor__control--fill:checked ~ .editor__controls-wrapper .editor__lable--fill,
.editor__control--contrast:checked ~ .editor__controls-wrapper .editor__lable--contrast {
  fill: $pink;
  opacity: 1;
}

.editor__svg {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin-top: 12px;

  @media (min-width: 660px) {
    width: 24px;
    height: 24px;
    margin-left: 5px;
  }

  @media (min-width: 768px) {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }
}

.editor__svg--smaller {
  width: 50px;
  height: 34px;

  @media (min-width: 660px) {
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }

  @media (min-width: 768px) {
    width: 34px;
    height: 34px;
    margin-top: 4px;
    margin-left: 4px;
  }
}

.editor__bar {
  content: "";
  position: relative;

  display: none;
  width: 240px;
  height: 2px;
  margin-top: 35px;

  background-color: $navy;

  &::after {
    content: "";
    position: absolute;
    top: -6px;

    width: 14px;
    height: 14px;
    box-sizing: border-box;

    background-color: white;
    border: 2px solid $pink;
    border-radius: 50%;
  }

  &:active::after {
    background-color: $pink;
  }

  @media (min-width: 660px) {
    display: block;
    width: 73%;
    margin: 21px 0 49px;

    &::before {
      content: "";
      position: absolute;
      left: -27%;
      bottom: -35px;

      width: 137%;
      height: 1px;

      background-color: $lighten-grey;
    }
  }

  @media (min-width: 768px) {
    width: 70%;

    &::before {
      left: -32%;

      width: 143%;

      background-color: $lighten-grey;
    }
  }
}

.editor__bar--crop {
  &::after {
    left: 79%;
  }

  @media (min-width: 660px) {
    order: 2;
  }

  @media (min-width: 768px) {
    &::after {
      left: 25%;
    }
  }
}

.editor__bar--fill {
  &::after {
    left: 13%;
  }

  @media (min-width: 660px) {
    order: 4;
  }

  @media (min-width: 768px) {
    &::after {
      left: 86%;
    }
  }
}

.editor__bar--contrast {
  &::after {
    left: 48%;
  }

  @media (min-width: 660px) {
    order: 6;
  }

  @media (min-width: 768px) {
    &::after {
      left: 56%;
    }
  }
}

.editor__control--crop:checked ~ .editor__controls-wrapper .editor__bar--crop,
.editor__control--fill:checked ~ .editor__controls-wrapper .editor__bar--fill,
.editor__control--contrast:checked ~ .editor__controls-wrapper .editor__bar--contrast {
  display: block;
}

.editor__buttons-wrapper {
  width: 100%;
  padding-top: 38px;

  text-align: center;

  border-top: 1px solid $lighten-grey;

  @media (min-width: 660px) {
    width: 45%;
    margin-top: 52px;
    margin-right: 2%;
    margin-left: auto;
    padding-top: 0;

    border: none;
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    width: 44%;
    max-width: 410px;
    margin-top: 131px;
    margin-right: 6.3%;
  }
}

.editor__btn {
  width: 87.5%;
  margin-bottom: 12px;
  padding: 15px 0;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: 660px) {
    margin-bottom: 25px;
  }

  @media (min-width: 768px) {
    width: 45%;
    margin-bottom: 0;
  }
}

.editor__btn--active {
  color: $pink;

  border-color: $pink;

  &:hover {
    color: white;

    background-color: $pink;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $pink;
  }
}

.editor__btn--not-active {
  color: $navy;

  border-color: $navy;
  opacity: 0.1;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $navy;
    opacity: 0.3;
  }
}
