.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 660px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 660px;
  }

  @media (min-width: 768px) {
    align-items: flex-start;
    max-width: 960px;
  }
}

.form__group {
  position: relative;

  width: 100%;
  padding-top: 40px;
  padding-bottom: 42px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.form__group--half-width {
  @media (min-width: 768px) {
    width: 47.4%;
    max-width: 455px;
    margin: 0;
    padding: 0 1%;
    box-sizing: border-box;
  }
}

.form__group--grey {
  background-color: $grey;

  @media (min-width: 660px) {
    background-color: white;
  }
}

.form__group--no-padding-top {
  padding-top: 0;
}

.form__group--fio {
  @media (min-width: 660px) {
    order: 1;
    padding-bottom: 26px;
  }

  @media (min-width: 768px) {
    margin-top: 5px;
  }
}

.form__group--platform {
  padding-bottom: 47px;

  @media (min-width: 660px) {
    order: 2;
  }
}

.form__group--contacts {
  padding-top: 32px;

  @media (min-width: 660px) {
    order: 3;
    padding-top: 18px;
  }
}

.form__group--achievement {
  padding-bottom: 46px;

  @media (min-width: 660px) {
    order: 4;
    padding-top: 23px;
  }

  @media (min-width: 768px) {
    padding-top: 35px;
  }
}

.form__group--emotions {
  padding-top: 32px;
  padding-bottom: 48px;

  @media (min-width: 660px) {
    order: 5;
    padding-top: 19px;
    padding-bottom: 67px;
  }

  @media (min-width: 768px) {
    padding-bottom: 65px;
  }
}

.form__container {
  position: relative;

  align-items: flex-start;

  @media (min-width: 660px) {
    padding: 45px 8.8% 59px;
    box-sizing: border-box;

    border: 2px solid $light-grey;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 98%;
    padding: 45px 17% 59px;
  }
}

.form__container--no-border {
  @media (min-width: 660px) {
    padding: 0;
    border: none;
  }
}

.form__container--half-width {
  display: flex;
  flex-direction: column;

  @media (min-width: 660px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 94%;
  }

  @media (min-width: 768px) {
    justify-content: space-between;
    width: 98%;
  }
}

.form__container--no-margin {
  @media (min-width: 768px) {
    width: 100%;
    margin: 0;
  }
}

.form__container--bottom {
  @media (min-width: 660px) {
    order: 6;
  }
}

.form__container--contacts {
  @media (min-width: 660px) {
    padding: 45px 8.8% 26px;
  }

  @media (min-width: 768px) {
    justify-content: space-between;
    padding: 42px 6% 13px;
  }
}

.form__container--achievement {
  @media (min-width: 660px) {
    padding: 45px 8.8% 52px;
  }

  @media (min-width: 768px) {
    justify-content: flex-start;
    padding: 53px 2% 11px 6.1%;
  }
}

.form__container--emotions {
  @media (min-width: 660px) {
    padding: 23px 8.8% 51px;
  }

  @media (min-width: 768px) {
    padding: 42px 6.1% 43px;
  }
}

.form__label {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;

  line-height: $third-line-height;
  color: $navy;
}

.form__label--pink-uppercase {
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 8%;

  color: $pink;
  text-transform: uppercase;

  @media (min-width: 660px) {
    margin: 0;
    padding-left: 0;
    padding-right: 3%;
  }

  @media (min-width: 768px) {
    padding-right: 4.2%;
  }
}

.form__label--smaller-margin {
  margin-top: 10px;

  @media (min-width: 660px) {
    margin-top: 3px;
  }
}

.form__label--no-margin {
  margin-top: 0;
}

.form__label--no-padding {
  padding-left: 0;
}

.form__label--ordered {
  @media (min-width: 660px) {
    order: 2;
    margin-top: 10px;
    padding-left: 4%;
  }

  @media (min-width: 768px) {
    padding-left: 5.3%;
  }
}

.form__label--checkbox {
  position: relative;

  padding-left: 70px;

  font-size: $secondary-font-size;

  &::before,
  &::after {
    content: "";
    position: absolute;

    box-sizing: border-box;
  }

  &::before {
    top: -5px;
    left: 0;

    width: 39px;
    height: 39px;

    background-color: white;
    border: 2px solid $light-grey;
  }

  @media (min-width: 660px) {
    padding-left: 59px;
  }

  &:hover {
    &::before {
      border-color: $navy;
    }
  }

  &:active {
    &::before {
      border-color: $pink;
    }
  }
}

input[type="checkbox"]:checked + .form__label--checkbox {
  &::after {
    top: 7px;
    left: 9px;

    width: 22px;
    height: 16px;

    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
}

.form__label--radio {
  position: relative;

  padding-left: 70px;

  font-size: $secondary-font-size;

  &::before,
  &::after {
    content: "";
    position: absolute;

    box-sizing: border-box;
  }

  &::before {
    top: -5px;
    left: 0;

    width: 39px;
    height: 39px;

    background-color: white;
    border: 2px solid $light-grey;
    border-radius: 50%;
  }

  @media (min-width: 660px) {
    padding-left: 59px;
  }

  &:hover {
    &::before {
      border-color: $navy;
    }
  }

  &:active {
    &::before {
      border-color: $pink;
    }
  }
}

input[type="radio"]:checked + .form__label--radio {
  &::after {
    top: 7px;
    left: 12px;

    width: 15px;
    height: 15px;

    background-color: $pink;
    border-radius: 50%;
  }
}

.form__input {
  font-size: $secondary-font-size;
  line-height: $third-line-height;
}

.form__input--text {
  display: block;
  width: 100%;
  padding: 15px 20px 14px;
  box-sizing: border-box;

  border: 2px solid $light-grey;
  border-radius: 2px;

  &:hover {
    border-color: $navy;
  }

  &:active {
    border-color: $pink;
  }

  &:focus {
    border-color: $pink;
  }
}

.form__input--half-row {
  @media (min-width: 660px) {
    width: 78%;
    flex-grow: 1;
  }
}

.form__input--no-display {
  display: none;
}

.form__icon {
  @media (min-width: 660px) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 62px;
    height: 62px;

    background-color: $grey;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
  }

  @media (min-width: 768px) {
    background-position: 45% 50%;
  }
}

.form__icon--phone {
  @media (min-width: 660px) {
    background-image: url("../img/icon-phone.svg");
  }
}

.form__icon--email {
  @media (min-width: 660px) {
    background-image: url("../img/icon-mail.svg");
  }
}

.form__input--ordered {
  @media (min-width: 660px) {
    order: 1;
  }
}

.form__text {
  width: 100%;
  margin: 0;
  margin-bottom: 42px;

  line-height: $secondary-line-height;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 38px;
  }
}

.form__text--uppercase {
  text-transform: uppercase;
}

.form__text--title {
  color: $pink;
  text-transform: uppercase;

  @media (min-width: 660px) {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: -55px auto 45px;
    padding: 0 6%;

    white-space: nowrap;

    background-color: white;
  }

  @media (min-width: 768px) {
    position: absolute;
    top: -10px;

    margin: 0;
    padding: 0 4%;
  }
}

.form__text--title-width {
  @media (min-width: 768px) {
    left: 50%;

    width: 40%;
    margin-left: calc(-48% / 2);
  }
}

.form__text--half-width {
  @media (min-width: 660px) {
    width: 48.5%;
  }

  @media (min-width: 660px) {
    width: 34.4%;

    text-align: right;
  }
}

.form__text--no-margin {
  position: static;
  margin: 0;
  padding: 0;
}

.form__text--smaller-margin {
  margin-bottom: 37px;
}

.form__text--smallest-margin {
  margin-bottom: 5px;

  @media (min-width: 660px) {
    margin-top: -40px;
    margin-bottom: 32px;
  }

  @media (min-width: 768px) {
    margin-top: -6px;
  }
}

.form__text--no-display-mobile {
  display: none;

  @media (min-width: 660px) {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 32%;

    display: block;
    width: 30%;
    margin: 0 auto -10px;
    padding: 0 3%;
  }

  @media (min-width: 768px) {


    width: 22%;
    margin: 0;
  }
}

.form__text--no-display-tablet {
  display: none;

  @media (min-width: 768px) {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;
  }
}

.form__line-container {
  width: 100%;
  margin-bottom: 52px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: 660px) {
    display: flex;
    align-items: center;
  }
}

.form__line-container--smaller-margin {
  margin-bottom: 45px;

  @media (min-width: 660px) {
    margin-top: 11px;
    margin-bottom: 34px;
  }

  @media (min-width: 768px) {
    margin-top: 12px;
    margin-bottom: 33px;
  }
}

.form__line-container--no-margin {
  margin-bottom: -3px;

  @media (min-width: 660px) {
    margin-bottom: 52px;
  }

  @media (min-width: 768px) {
    margin-bottom: 53px;
  }
}

.form__line-container--column {
  @media (min-width: 660px) {
    position: relative;

    flex-direction: column;
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    width: 46%;
    margin-bottom: 0;
  }
}

.form__line-container--contacts-margin {
  @media (min-width: 660px) {
    margin-bottom: 29px;
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.form__line-container--achievement {
  @media (min-width: 660px) {
    margin-top: 4px;
    margin-bottom: 48px;
  }

  @media (min-width: 768px) {
    width: auto;
    margin-bottom: 48px;
    margin-right: 5.8%;

    &:last-of-type {
      margin-bottom: 48px;
    }
  }
}

.form__line-container--achievement-first {
  @media (min-width: 768px) {
    order: 1;
    width: 30.8%;
  }
}

.form__line-container--achievement-second {
  @media (min-width: 768px) {
    order: 2;
    width: 28.6%;
  }
}

.form__line-container--achievement-third {
  @media (min-width: 768px) {
    order: 3;
    margin-right: 0;
  }
}

.form__line-container--achievement-fourth {
  @media (min-width: 768px) {
    order: 4;
    width: 30.8%;
  }
}

.form__line-container--achievement-fifth {
  @media (min-width: 768px) {
    order: 5;
    width: 28.6%;
  }
}

.form__line-container--achievement-sixth {
  @media (min-width: 768px) {
    order: 6;
    margin-right: 0;
    margin-bottom: 45px;
  }
}

.form__textarea {
  display: block;
  width: 100%;
  min-height: 201px;
  padding: 15px 20px 12px;
  box-sizing: border-box;

  font-size: $secondary-font-size;
  line-height: $third-line-height;

  border: 2px solid $light-grey;
  border-radius: 2px;

  &:hover {
    border-color: $navy;
  }

  &:active {
    border-color: $pink;
  }

  &:focus {
    border-color: $pink;
  }

  @media (min-width: 660px) {
    min-height: 193px;
  }

  @media (min-width: 768px) {
    min-height: 128px;
  }
}

.form__btn {
  margin-bottom: 40px;
}

.form__btn--half-width {
  width: 100%;

  @media (min-width: 660px) {
    width: 48.4%;
  }

  @media (min-width: 768px) {
    width: 31.9%;
  }
}
