.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
}

.main-nav--no-js {
  margin-top: -265px;

  .main-nav__toggle {
    display: none;
  }

  .main-nav__item {
    justify-content: center;
    background-color: $navy;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}

.main-nav--opened {
  .main-nav__item {
    background-color: $navy;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  .main-nav__burger-menu {
    display: flex;
    background-color: transparent;

    &::before,
    &::after {
      top: 0;

      width: 24px;
      margin: 0 auto;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .nav-list {
    display: flex;
    flex-direction: column;
  }
}

.main-nav__item {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding: 0 6.25%;
  height: 70px;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav__toggle {
  @include text-indent;

  width: 50px;
  height: 24px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav__burger-menu {
  content: "";
  position: relative;

  display: block;
  width: 100%;
  height: 4px;
  margin: 10px 0;

  background-color: white;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: white;
  }

  &::before {
    top: -10px;
    box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.3);
  }

  &::after {
    top: 10px;
    box-shadow: 0 -2px 0 -1px rgba(255, 255, 255, 0.3);
  }

  &:hover {
    background-color: $pink;
  }

  &:hover::before,
  &:hover::after {
    background-color: $pink;
  }

  &:active {
    background-color: $pink;
    opacity: 0.3;
  }

  &:active::before,
  &:active::after {
    background-color: $pink;
    opacity: 0.3;
  }
}
