.main-footer {
  position: relative;
}

.main-footer--white-cover {
  &::before {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: calc(100% / 7);

    background-image: url("../img/bg-triangle-white-footer.svg");
    background-size: contain;
    background-position: 50% 0;
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    &::before {
      height: 103px;
    }
  }
}

.main-footer__container {
  @media (min-width: 660px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__content {
  padding-top: 40px;
  padding-bottom: 34px;

  .container {
    align-items: center;
  }

  @media (min-width: 660px) {
    padding-bottom: 35px;
  }

  @media (min-width: 768px) {
    padding-top: 73px;
    padding-bottom: 73px;
  }
}

.main-footer__content--padding-top {
  @media (min-width: 768px) {
    padding-top: 102px;
    padding-bottom: 72px;
  }
}

.main-footer__content--smallest-padding {
  padding-top: 18px;

  @media (min-width: 660px) {
    padding-top: 48px;
  }

  @media (min-width: 768px) {
    padding-top: 33px;
    padding-bottom: 72px;
  }
}

.main-footer__content--no-display {
  display: none;

  @media (min-width: 660px) {
    display: block;

    .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
