.nav-list {
  display: none;
  padding: 0;
  margin: 0;

  list-style: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 790px;
  }
}

.nav-list__item {
  position: relative;
  display: block;
  width: 100%;
  padding: 20px 6.25% 19px;
  box-sizing: border-box;

  font-size: $secondary-font-size;

  background-color: $navy;
  border-top: 1px solid $light-navy;

  @media (min-width: 768px) {
    width: 21%;
    padding: 0;

    background-color: transparent;
    border: none;
  }
}

.nav-list__item--gradient-border {
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 1px;

    background-image: $black-gradient;
  }

  @media (min-width: 768px) {
    &::after {
      display: none;
    }
  }
}

.nav-list__item--full-border {
  padding-bottom: 19px;
  border-bottom: 1px solid black;

  @media (min-width: 768px) {
    padding: 0;

    border: none;
  }
}

.nav-list__link {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;

  font-weight: 700;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $pink;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }

  @media (min-width: 768px) {
    font-size: $secondary-font-size;
    line-height: $secondary-line-height;
    font-weight: 400;
    text-align: center;
    text-transform: none;
  }
}

.nav-list__link--align-right {
  @media (min-width: 768px) {
    text-align: right;
  }
}
