.post {
  position: relative;

  margin-top: 0;
  margin-bottom: 20px;

  background-color: $grey;

  @media (min-width: 768px) {
    margin-bottom: 52px;
  }
}

.post--full-width {
  background-color: white;

  @media (min-width: 660px) {
    margin-bottom: 50px;
  }
}

.post--half-width {
  width: 100%;

  @media (min-width: 660px) {
    width: 48.5%;
  }

  @media (min-width: 768px) {
    width: 32%;
    margin-right: 1%;
    margin-left: 1%;

    &:first-of-type {
      margin-left: 0;
    }

    &:nth-of-type(3n+1) {
      margin-left: 0;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}

.post--no-margin {
  margin-bottom: 0;

  @media (min-width: 660px) {
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    margin-bottom: 54px;
  }
}

.post__container--full-width {
  padding: 18px 17px 17px;
  box-sizing: border-box;

  background-color: $grey;

  @media (min-width: 660px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 28px;
  }

  @media (min-width: 768px) {
    width: 98%;
    max-width: 940px;
    padding: 24px 28px 23px;
  }
}

.post__link {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.post__img {
  display: block;
  width: 100%;

  @media (min-width: 660px) {
    height: 300px;
  }

  @media (min-width: 768px) {
    height: 400px;
  }
}

.post__img--large {
  @media (min-width: 660px) {
    min-height: 509px;
  }

  @media (min-width: 768px) {
    min-height: 506px;
  }
}

.post__content-wrapper {
  padding: 18px 17px 17px;
  box-sizing: border-box;

  @media (min-width: 660px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 155px;
    padding: 23px 33px 23px 28px;
  }
}

.post__text {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.post__text--ordered {
  @media (min-width: 660px) {
    order: 3;
  }
}

.post__text--grow {
  @media (min-width: 660px) {
    flex-grow: 1;
  }
}

.post__text--photo-lable {
  position: absolute;
  top: 0;
  right: 6.25%;

  width: auto;
  padding: 6px 20px;

  font-size: $eighth-font-size;
  font-weight: 700;
  color: white;
  text-transform: uppercase;

  background-color: $pink;

  @media (min-width: 660px) {
    top: 57px;
    right: 3%;
  }

  @media (min-width: 768px) {
    top: 54px;
    right: 1%;
  }

  @media (min-width: 1200px) {
    right: 10.8%;
  }
}

.post__text--author {
  font-weight: 700;
}

.post__text--author-ordered {
  @media (min-width: 660px) {
    order: 1;
    width: 50%;
  }
}

.post__text--time {
  font-size: $eighth-font-size;
  font-weight: 300;
  text-transform: uppercase;
}

.post__text--like {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  margin-top: 12px;
  padding-left: 32px;
  box-sizing: border-box;

  font-size: $eighth-font-size;
  color: $pink;
  text-decoration: none;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;

    width: 13px;
    height: 13px;

    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
  }

  @media (min-width: 660px) {
    padding-left: 0;

    &::before {
      right: 0;
      left: auto;
    }
  }
}

.post__text--like-ordered {
  @media (min-width: 660px) {
    order: 2;
    width: 50%;
    margin-top: 0;
    padding-left: 0;
    padding-right: 30px;

    text-align: right;

    &::before {
      right: 0;
      left: auto;
    }
  }
}
