.product__name,
.product__price {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;

  font-size: $secondary-font-size;
  line-height: $third-line-height;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: 660px) {
    font-size: $ninth-font-size;
  }
}

.product__price {
  font-size: $third-font-size;
  font-weight: 300;

  @media (min-width: 660px) {
    font-size: $secondary-font-size;
  }

  @media (min-width: 768px) {
    font-size: $third-font-size;
  }
}

.product__diagonal-text {
  position: absolute;
  top: -3px;
  left: -27px;

  width: 107px;
  line-height: $third-line-height;
  text-transform: uppercase;
  font-weight: 700;

  transform: rotate(-45deg);
  background-color: $pink;

  @media (min-width: 660px) {
    top: -9px;
    left: -30px;
  }

  @media (min-width: 768px) {
    top: -1px;
    left: -25px;
  }
}

.product__feature {
  margin: 0;

  line-height: $third-line-height;
  text-transform: uppercase;

  @media (min-width: 660px) {
    text-transform: none;
  }

  @media (min-width: 768px) {
    font-size: $secondary-font-size;
  }
}

.product__feature--tick {
  &::before,
  &::after {
    content: "";
    position: absolute;

    height: 3px;

    background-color: $green;
  }

  &::before {
    top: 28px;
    right: 14px;

    width: 29px;

    transform: rotate(-45deg);
  }

  &::after {
    top: 33px;
    right: 35px;

    width: 14px;

    transform: rotate(45deg);
  }

  @media (min-width: 660px) {
    @include text-indent;

    &::before,
    &::after {
      left: 44%;
      right: 50%;
    }

    &::before {
      top: 20px;
      margin-right: -10px;
    }

    &::after {
      top: 26px;

      margin-left: -6px;
    }
  }

  @media (min-width: 768px) {
    @include text-indent;

    &::before,
    &::after {
      left: 46%;
      right: 50%;
    }

    &::before {
      top: 30px;
      margin-right: -10px;
    }

    &::after {
      top: 36px;

      margin-left: -6px;
    }
  }
}

.product__feature--cross {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 16px;

    width: 34px;
    height: 3px;

    background-color: $orange;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }

  @media (min-width: 660px) {
    @include text-indent;

    &::before,
    &::after {
      top: 20px;
      left: 44%;
      right: 50%;

      margin-left: -8px;
    }
  }

  @media (min-width: 768px) {
    &::before,
    &::after {
      top: 29px;
      left: 46%;
      right: 50%;

      margin-left: -7px;
    }
  }
}
