.product__name,
.product__price {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;

  font-size: $secondary-font-size;
  line-height: $third-line-height;
  font-weight: 700;
  text-transform: uppercase;
}

.product__price {
  font-weight: 300;
}

.product__diagonal-text {
  position: absolute;
  top: -5px;
  left: -25px;

  width: 100px;
  line-height: $third-line-height;
  text-transform: uppercase;
  font-weight: 700;

  transform: rotate(-45deg);
  background-color: $pink;
}

.product__feature {
  margin: 0;

  line-height: $third-line-height;
  text-transform: uppercase;

  @media (min-width: 660px) {
    text-transform: none;
  }

  @media (min-width: 768px) {
    font-size: $secondary-font-size;
  }
}

.product__feature--tick {
  &::before,
  &::after {
    content: "";
    position: absolute;

    height: 3px;

    background-color: $green;
  }

  &::before {
    top: 30px;
    right: 20px;

    width: 21px;

    transform: rotate(-45deg);
  }

  &::after {
    top: 33px;
    right: 34px;

    width: 12px;

    transform: rotate(45deg);
  }

  @media (min-width: 660px) {
    @include text-indent;

    &::before {
      left: 50%;
      right: 50%;
      margin-right: -10px;
    }

    &::after {
      left: 50%;
      right: 50%;

      margin-left: -6px;
    }
  }
}

.product__feature--cross {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 28px;
    right: 20px;

    width: 27px;
    height: 3px;

    background-color: $orange;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }

  @media (min-width: 660px) {
    @include text-indent;

    &::before,
    &::after {
      left: 50%;
      right: 50%;
      margin-left: -8px;
    }
  }
}
