.section-info {
  padding-top: 63px;
  padding-bottom: 300px;

  background-repeat: no-repeat;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-size: auto;
  background-position: 50% 108%;
}

.section-info__text {
  margin-top: 0;
  margin-bottom: 20px;

  text-align: center;
}
