.section-contacts {
  padding-top: 45px;
  padding-bottom: 45px;

  @media (min-width: 660px) {
    padding-bottom: 32px;
  }

  @media (min-width: 768px) {
    padding-top: 65px;
    padding-bottom: 0;
  }
}

.section-contacts__content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6px;

  @media (min-width: 660px) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 12px;
  }

  @media (min-width: 768px) {
    align-items: flex-start;
  }
}

.section-contacts__text {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  color: $navy;

  &:nth-last-of-type(2) {
    margin-bottom: 8px;
  }

  @media (min-width: 768px) {
    margin-bottom: 30px;

    &:nth-last-of-type(2) {
      margin-bottom: 30px;
    }
  }
}

.section-contacts__text--bold {
  font-size: $secondary-font-size;
  line-height: $secondary-line-height;
  font-weight: 700;
}

.section-contacts__text--bigger-pink {
  font-size: $third-font-size;
  line-height: $seventh-line-height;
  font-weight: 300;
  color: $pink;
}

.section-contacts__link {
  display: block;
  margin-top: 8px;
  margin-bottom: 25px;

  font-size: $third-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;

  &:hover {
    color: $navy;
    text-decoration: underline;
  }

  &:active {
    color: $navy;
    text-decoration: none;

    opacity: 0.3;
  }

  @media (min-width: 660px) {
    margin-top: 10px;
  }
}

.section-contacts__link--pink {
  color: $pink;
}

.section-contacts__row {
  width: 100%;

  text-align: center;

  @media (min-width: 660px) {
    width: 50%;
  }

  @media (min-width: 768px) {
    width: 33.3%;

    &:first-of-type {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 3;
    }

    &:last-of-type {
      order: 2;
    }
  }
}

.section-contacts__row--padding-right {
  @media (min-width: 660px) {
    padding-right: 2%;
    box-sizing: border-box;
  }
}

.section-contacts__row--padding-left {
  @media (min-width: 660px) {
    padding-left: 2%;
    box-sizing: border-box;
  }
}

.section-contacts__row--margin {
  margin-top: 5px;

  @media (min-width: 660px) {
    margin-top: 27px;
  }

  @media (min-width: 768px) {
    margin-top: 0;
  }
}
