.section-reviews {
  position: relative;
  margin-top: -60px;
  padding-top: 42px;
  padding-bottom: 47px;
  background-color: white;

  @media (min-width: 660px) {
    margin-top: 0;
    padding-top: 45px;
    padding-bottom: 56px;
  }

  @media (min-width: 768px) {
    padding-top: 185px;
    padding-bottom: 198px;

    &::before {
      content: "";
      position: absolute;
      top: 72px;
      left: 50%;
      z-index: 1;

      width: 79px;
      height: 63px;
      margin-left: -37px;

      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
    }
  }
}

.section-reviews__slide {
  display: none;

  text-align: center;

  &:first-of-type {
    display: flex;
    flex-direction: column;
  }
}

.section-reviews__controls-wrapper {
  @media (min-width: 660px) {
    top: 90%;
  }

  @media (min-width: 768px) {
    position: relative;

    margin-top: -176px;
  }
}

.section-reviews__author {
  display: block;
  margin-bottom: 13px;

  font-size: $secondary-font-size;
  line-height: $third-line-height;
  font-weight: 700;
  font-style: normal;
  color: black;

  @media (min-width: 660px) {
    order: 2;
    margin-bottom: 2px;

    font-size: $sixth-font-size;
    line-height: $third-line-height;
  }

  @media (min-width: 768px) {
    margin-bottom: 2px;

    font-size: $third-font-size;
  }
}

.section-reviews__author-info {
  display: none;

  @media (min-width: 660px) {
    order: 3;
    display: block;
    margin: 0;

    line-height: $third-line-height;
  }

  @media (min-width: 768px) {
    font-size: $secondary-font-size;
  }
}

.section-reviews__quote-text {
  margin-top: 0;
  margin-bottom: 35px;

  line-height: $third-line-height;

  @media (min-width: 660px) {
    order: 1;

    font-size: $secondary-font-size;
    line-height: $third-line-height;
  }

  @media (min-width: 768px) {
    position: relative;

    width: 73%;
    margin: 0 auto 36px;

    &::before {
      content: "";
      position: absolute;
      top: -100px;
      left: 50%;

      width: 80px;
      height: 63px;
      margin-left: -40px;

      background-color: white;
      background-image: url("");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
    }
  }
}

.section-reviews__text {
  display: inline;
}

.section-reviews__text--no-display {
  @media (min-width: 768px) {
    display: none;
  }
}
