.table {
  width: 100%;
  border-collapse: collapse;
}

.table * {
  box-sizing: border-box;
}

.table__header {
  position: relative;

  width: 280px;
  padding: 17px 0 20px;
  color: white;

  background-color: $navy;
  border-right: 2px solid $light-grey;
  border-left: 2px solid $light-grey;
  overflow: hidden;

  @media (min-width: 660px) {
    width: 157px;
    padding: 11px 0 7px;
  }

  @media (min-width: 768px) {
    width: 200px;
    padding: 16px 0 21px;
  }
}

.table__header--hidden {
  display: none;

  @media (min-width: 660px) {
    display: table-cell;
    visibility: hidden;
  }
}

.table__cell {
  position: relative;

  padding: 14px 22px 15px;

  background-color: white;
  border: 2px solid $light-grey;

  @media (min-width: 660px) {
    padding: 7px 15px;
  }

  @media (min-width: 768px) {
    padding: 14px 21px;
  }
}

.table__cell--hidden {
  display: none;

  @media (min-width: 660px) {
    display: table-cell;
  }
}
